<div class="wrapper">
  <div class="topicos">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <ul class="topicos-footer">
            <h6>UNIDADES </h6>
            <li>Méier</li>
            <li>Barra da Tijuca</li>
            <li>Tijuca</li>
            <li>Grajaú</li>
            <li>Copacabana</li>
            <li>Vila Valqueire</li>
          </ul>
        </div>
        <div class="col-3">
          <ul class="topicos-footer">
            <h6>FALE CONOSCO</h6>
            <li>Entre em Contato</li>
            <li>Divulgue sua Marca</li>
            <li>Indique um Amigo</li>
            <li>Trabalhe Conosco</li>
          </ul>
        </div>
        <div class="col-3">
          <ul class="topicos-footer">
            <h6>DÚVIDAS FREQUENTES</h6>
            <li>Serviços</li>
            <li>Horário de Funcionamento</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <footer class="rodape">
    <p class="text-center">&copy; Todos os Direitos reservados a
      <b>Popeye Barber Beer</b>
    </p>
  </footer>
</div>
