<div class="container">
  <div class="row box-cadastro">
    <div class="col-12">
      <h3 class="text-center">Faça seu cadastro e transforme seu projeto verão em projeto de vida</h3>
      <form class="mt-5" (ngSubmit)='cadastro()' [formGroup]='formCadastro'>
        <div class="form-group">
          <input type="text" class="form-control cadastro" placeholder="Nome" formControlName='nome'>
        </div>
        <div class="form-group">
          <input type="text" class="form-control cadastro" placeholder="CPF" maxlength="14" [(ngModel)]="cpf" formControlName='cpf' (keypress)="mascara_cpf(this)">
        </div>
        <div class="form-group">
          <input type="email" class="form-control cadastro" placeholder="E-mail" formControlName='email'>
        </div>
        <div class="form-group">
          <input type="tel" class="form-control cadastro" placeholder="Telefone" (keypress)="mascara_tel(this)" maxlength="13" [(ngModel)]="telefone" formControlName='telefone'>
        </div>
        <div class="form-group">
          <input type="text" class="form-control cadastro" placeholder="Endereço" formControlName='endereco'>
        </div>
        <button type="submit" class="btn btn-cadastro btn-lg" [disabled]="!formCadastro.valid">Cadastrar</button>
      </form>
    </div>
  </div>
</div>