<div class="row mb-2">
  <div class="col-md-10">
      <div class="row border rounded overflow-hidden flex-md-row mb-4 shadow-sm no-gutters position-relative">
          <div class="col-auto d-none d-lg-block">
              <picture>
                  <img src="../assets/images/bg-img1.png" alt="Quem Somos" title="Quem Somos" width="320" height="200">
              </picture>
          </div>
          <div class="col p-4 d-flex flex-column position-static text-dark">
              <h3 class="d-inline-block mb-0">Quem Somos</h3>
              <p class="card-text mb-auto text-justify">Somos uma barbearia de bairro, sem frescuras, sem modismos, apenas um serviço de primeira com preço justo.
                  </p>
          </div> 
      </div>
   </div>


   <div class="col-md-10">
    <div class="row border rounded overflow-hidden flex-md-row mb-4 shadow-sm no-gutters position-relative">
        <div class="col-auto d-none d-lg-block">
            <picture>
                <img src="../assets/images/barbearia.jpg" alt="Um Pouco do Nosso Trabalho" title="Um Pouco do Nosso Trabalho" width="320" height="200">
            </picture>
        </div>
        <div class="col p-4 d-flex flex-column position-static text-dark">
            <h3 class="d-inline-block mb-0">Um Pouco do Nosso Trabalho</h3>
            <p class="card-text mb-auto text-justify">A melhor Barbearia da região, com super novidades e ótimos preços. Além de prestar os melhores serviços com excelentes profissionais de ótima qualidade, temos algo inovador, na sala de espera temos um bar com diversas cervejas e outras bebidas, enquanto você espera sua vez.
                </p>
        </div> 
    </div>
 </div>

 <div class="col-md-10">
  <div class="row border rounded overflow-hidden flex-md-row mb-4 shadow-sm no-gutters position-relative">
      <div class="col-auto d-none d-lg-block">
          <picture>
              <img src="../assets/images/umpouco.jpeg" alt="Sobre a Barbearia" title="Sobre a Barbearia" width="320" height="200">
          </picture>
      </div>
      <div class="col p-4 d-flex flex-column position-static text-dark">
          <h3 class="d-inline-block mb-0">Sobre a Barbearia</h3>
          <p class="card-text mb-auto text-justify"><p>Por fora, uma barbearia de fachada elegante com a missão de cortar cabelo e aparar barba. Por dentro, há quem diga que deveríamos mudar nosso nome para ‘resenharia’.</p>

          <p>Foi olhando para essa direção que a ideia da Barbearia e Bar surgiu na cabeça e veia empreendedora dos sócios e amigos de infância Mikael Santos e Leandro Caruso. E enquanto ninguém via potencial nesse nicho, eles  enxergaram longe e construíram um novo conceito de barbearia e inovaram com computadores gamers e cervejas.</p>
                 
          <p>Pra gente, Popeye é barba bem feita, cabelo penteado e visual impecável. É aquele chope merecido no final do expediente, saca? É se apaixonar por algum esporte e acompanhá-lo sempre, seja na alegria ou na tristeza. É estar perto de gente, conversar, ouvir, trocar. É ser amigo e família. É curtir uma roda de samba ou apreciar uma música boa. É se dedicar ao trabalho e fazê-lo da melhor forma. É desacelerar em algum momento do dia pra cuidar de você mesmo!</p>
          
          <p>E parece que a galera entendeu e comprou a nossa ideia. De lá pra cá, já somos uma rede com 6 unidades e líder no Rio de Janeiro.  Cada uma com suas peculiaridades, preços, produtos, mas todas com muitos atrativos pra melhorar a experiência do cliente!</p>
          
          <p>Com o propósito de ser não um, mas o espaço em que a resenha boa é garantida, além de cuidar do visual, porque ninguém é bobo nem nada, construímos uma atmosfera sem formalidades e frescuras pra deixar todos bem à vontade.</p>
          
          <p>Na Popeye Barber Beer, todo mundo é de casa. Mas se tiver compromisso e quiser marcar horário, é só chegar e colocar o nome na fila, que diga-se de passagem, voa quando a resenha é boa e o chope está gelado. E já que mencionamos isso, vale dizer que como bom anfitriões que nós somos, garantimos uma bebida por conta da casa pra quebrar o clima. Não bebe? Tem café e bebidas não alcoólicas também ou se preferir aguarde na nossa Lan House com diversos jogos e gamers…</p>
          
          <p>Como falamos acima, somos pioneiros e não paramos de borbulhar ideias pra continuar lançando tendência. Então fica de olho e aguarde as próximas novidades, porque vem coisa boa aí, somos a única Barbearia com Lan House!</p>
          
          <p>E, é claro que, quem está sempre aqui na resenha, acaba ficando sabendo primeiro!</p>
      </div> 
  </div>
</div>

  </div>

