@import url('https://fonts.googleapis.com/css?family=Crete+Round|Poppins');

.row{
  margin: 55px;
}

/*.tag {
	font-size: 50pt;
  color: chocolate;
  font-weight: bold;
	bottom: -39px;
	text-shadow: 2px 2px #333;
}*/

.tag {
	font-size: 90pt;
    color: rgb(65, 64, 64);
    font-weight: bold;
    /*position: absolute;*/
    /*left: -58px;*/
	bottom: -39px;
	text-shadow: 2px 2px rgb(3, 3, 3);
  margin-left: 20px;
}

.box-tile {
  width: 40vw;
  height: 100px;
top: 15%;
  left: 10%;
  padding: 10px;
}
