<b class="tag text-center">Conheça Nossos Planos</b>
<div class="row">
<div class="col-md-3">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../assets/images/planobronze.png" alt="Plano Bronze">
  <div class="card-body">
    <h3 class="card-text text-center"><b>Plano Bronze</b></h3>
    <p class="card-text text-align">Plano Bronze é composto por <b>dois</b> cortes de cabelo mensal</p>
    <li class="card-text text-align">Dois Cortes de Cabelo no Mês</li>
    <li class="card-text text-align">Uma Cerveja Grátis</li>
    <li class="card-text text-align">Sobrancelha Grátis</li>
    <p class="card-text text-align">Tudo isso por apenas <b>R$68,60</b></p>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../assets/images/planoprata.png" alt="Plano Prata">
  <div class="card-body">
    <h3 class="card-text text-center"><b>Plano Prata</b></h3>
    <p class="card-text text-align">Plano Prata é composto por <b>três</b> cortes de cabelo mensal</p>
    <li class="card-text text-align">Três Cortes de Cabelo no Mês</li>
    <li class="card-text text-align">Uma Cerveja Grátis</li>
    <li class="card-text text-align">Sobrancelha Grátis</li>
    <li class="card-text text-align">Descontos de 5% em Produtos da Barbearia</li>
    <p class="card-text text-align">Tudo isso por apenas <b>R$101,85</b></p>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../assets/images/planogold.png" alt="Plano Gold">
  <div class="card-body">
    <h3 class="card-text text-center"><b>Plano Gold</b></h3>
    <p class="card-text text-align">Plano Gold é composto por <b>quatro</b> cortes de cabelo mensal</p>
    <li class="card-text text-align">Quatro Cortes de Cabelo</li>
    <li class="card-text text-align">Duas Cervejas Grátis</li>
    <li class="card-text text-align">Sobrancelha Grátis</li>
    <li class="card-text text-align">5% de Desconto na Barba</li>
    <li class="card-text text-align">Descontos de 10% em Produtos da Barbearia</li>
    <p class="card-text text-align">Tudo isso por apenas <b>R$133,00</b></p>
  </div>
</div>
</div>

<div class="col-md-3">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../assets/images/planoplatinum.png" alt="Plano Platinum">
  <div class="card-body">
    <h3 class="card-text text-center"><b>Plano Platinum</b></h3>
    <p class="card-text text-align">Plano Platinum é composto por <b>cinco</b> cortes de cabelo</p>
    <li class="card-text text-align">Cinco Cortes de Cabelo</li>
    <li class="card-text text-align">Quatro Cervejas Grátis</li>
    <li class="card-text text-align">Sobrancelha Grátis</li>
    <li class="card-text text-align">Barba Grátis</li>
    <li class="card-text text-align">Concorre aos Sorteios</li>
    <li class="card-text text-align">Descontos de 20% em Produtos da Barbearia</li>
    <p class="card-text text-align">Tudo isso por apenas <b>R$162,75</b></p>
  </div>

</div>
</div>
</div><p class="text-center">Planos <b>Bronze</b> e <b>Prata</b> não estão incluso os serviços de Barba, caso escolha o serviço de barba será acrescentado o valor do serviço.</p>
<br><br>
